<table>
  <thead> 
  <thead>
    <tr>
      <th>tabledata</th>
      <th>tabledata</th>
      <th>tabledata</th>
      <th>tabledata</th>
      <th>tabledata</th>
      <th>tabledata</th>
      <th>tabledata</th>
      <th>tabledata</th>
      <th>tabledata</th>
      <th>tabledata</th>
      <th>acrticles</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% (1..10).to_a.each do |i| %>
       <td><%= i %></td>
      <% end %>
    </tr>
    <% Article.column_names.each do |col_name| %>
      <tr>
       <td><%= col_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>