<table>
  <thead>
    <tr>
      <th colspan=2>Articles</th>
    </tr>
    <tr>
      <th>Column name</th>
      <th>Data-type</th>
    </tr>
  </thead>
  <tbody>
    <% Article.column_names.each do |col_name| %>
      <tr>
        <td><%= col_name %></td>
        <td><%= Article.columns_hash[col_name].type %></td>
      </tr>
    <% end %>
  </tbody>
</table>
