<table>
  <thead> 
    <tr>
      <th>tabledata</th>
      <th>tabledata</th>
      <th>tabledata</th>
      <th>tabledata</th>
      <th>tabledata</th>
      <th>tabledata</th>
      <th>tabledata</th>
      <th>tabledata</th>
      <th>tabledata</th>
      <th>tabledata</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% (1..10).to_a.each do |i| %>
       <td><%= i %></td>
      <% end %>
    </tr>
  </tbody>
</table>