<h1>ArticlesIndex</h1>

<ul>
  <% @articles.each do |article| %>
  <li>
    <%= link_to article.title, article %>
    <%= link_to article.body, article  %>
  </li>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path %>

