<h1>Index Article</h1>

<ol>
  <% @articles.each do |article| %>
    <li>
      <b>Title:</b>
      <%= link_to article.title, article %>
    </li>
    <li>
      <b>Body:</b>
      <%= link_to article.body, article  %>
    </li>
    <li>
      <b>number:</b>
      <%= link_to article.number, article  %>
    </li>
  <% end %>
</ol>

<%= link_to "New Article", new_article_path %>
