<h1>Index Order</h1>

<ul>
  <% @orders.each do |order| %>
  <li>
    <%= link_to order.name, order %>
  </li>
   <li>
    <%= link_to order.lastname, order %>
  </li>
   <li>
    <%= link_to order.email, order %>
  </li>
  <% end %>
</ul>

<%= link_to "New Article", new_order_path %>
