table {
  background-color: yellow;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
}

ol{
  background-color: orange;
  width: 100px;
}

.mains{
  color: red;
}

.submit-btn{
  height: 20px;
}

.rails-pages{
  height: 200px;
}
.bank{
  background-color: orange;
  text-align: center;
}

.text-right{
  float: right;
}

.home-icon{
  height: 30px;
}

.bank-icon{
  height: 30px;
}

.order-icon{
  height: 30px;
}

.container{
  float: right;
  font-style: italic;
  font-size: 12px;
  margin: auto;
}
.nav_ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav_li {
  list-style-type: none;
  padding: 14px 16px;
  display: inline;
}

.nav_li:hover{
  background: blue;
}

header{
  height: 50px;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.divclass{
  text-align: center;
  font-size: 30px;
}

.btn {
  width: 20%;
  height: 35px;
}
